name: Build TextCleaner

on:
  push:
    branches: ["main"]

jobs:
  build-win:
    name: Build Windows EXE
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Windows
        run: npm run build:win

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: TextCleaner-Windows
          path: dist/*.exe

  build-mac:
    name: Build macOS APP
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build macOS
        run: npm run build:mac

      - name: Upload mac app
        uses: actions/upload-artifact@v4
        with:
          name: TextCleaner-macOS
          path: dist/*.dmg
